$container_width:1100px;
$media_mobile_point:850px;

@mixin active_page ($page_number, $background_color, $navbar_color, $point_color) {
    .active_page_#{$page_number} {
        background: $background_color;

        .navbar {

            * {
                color: $navbar_color;
            }
        }

        .point {
            color: $point_color;

            &::after,
            &:hover::after {
                background-color: $point_color;
            }

        }

    }

    .page_wrapper {
        .page:nth-child(#{$page_number}) {
            @media screen and (max-width:$media_mobile_point) {
                background-color: $background_color;
            }

            color: $point_color !important;
        }
    }
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 16px;

    @media screen and (max-width:$media_mobile_point) {
        overflow: visible;
    }
}

body {
    font-family: sans-serif;
    transition: background-color 1s;

    .navbar *,
    .point {
        transition: color 1s;
    }

    .point:hover::after,
    .point::after {
        transition: background-color 1s;
    }
}

@include active_page(1, #81d0e1, white, white);
@include active_page(2, #f0f7f9, #605e5c, #605e5c);
@include active_page(3, #80ec98, white, white);
@include active_page(4, #af76f0, white, white);
@include active_page(5, #76d8d0, white, white);
@include active_page(6, white, #605e5c, #9DD3C8);
@include active_page(7, white, white, white);



*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.small {
    font-weight: bold;
    font-size: 12px;
}

.page_wrapper,
.page {
    position: relative;
    width: 100%;
}

.navbar,
.point_block,
.scroll_down {
    z-index: 3;
}

$content_padding: 40px;

.navbar,
.point_block {
    padding: 0 $content_padding;
}

.navbar {
    margin: 0 auto;
    padding-top: 20px;
    flex-basis: 100%;
    align-self: flex-start;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    transition: box-shadow 1s;

    .burger_button {
        font-size: 45px;
        z-index: 1;
        margin: 0 auto;
        cursor: pointer;
        text-shadow: 0px 0px 15px rgba($color: white, $alpha: 0.4),
            0px -10px 10px rgba($color: white, $alpha: 0.4);
        display: none;
    }

    .float_left {
        margin-right: auto;

        .small {
            width: 170px;
            word-wrap: break-word;
        }

    }

    .float_left,
    .float_right {
        display: flex;
        align-items: center;
    }

    @media screen and (max-width:780px) {
        .float_left {
            display: none;
        }

        .float_right {
            margin: 0 auto;
        }
    }

    i {
        font-size: 20px;
        margin-right: 7px;
    }

    a {
        cursor: pointer;
        margin-left: 15px;
        font-weight: bold;
        text-decoration: none;
        display: block;
    }

    @media screen and (max-width:$media_mobile_point) {
        font-size: 18px;
    }
}

.point_block {
    position: fixed;
    align-self: center;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 0;

    .point {
        padding: 1rem;
        width: .75rem;
        height: .75rem;
        display: block;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            width: .75rem;
            height: .75rem;
            border-radius: 1rem;
            opacity: 0.705;
            transition: background 1000ms, border 1000ms, -webkit-transform 200ms;
            transition: background 1000ms, border 1000ms, transform 200ms;
        }


        &:hover::after {
            animation: pulse 400ms;
            transform: scale(1.5);
            opacity: 1;
        }

        &.active::after {
            opacity: 1;
            width: 1.5rem;
            height: 1.5rem;
            background: 0 0;
            border-width: 3px;
            border-style: solid;
            margin-top: -.5rem;
            left: .65rem;
            -webkit-transform: none;
            transform: none;
            -webkit-animation: none !important;
            animation: none !important;
        }
    }
}

.scroll_down {
    display: block;
    cursor: pointer;
    position: absolute;
    background-color: rgba(255, 255, 255, .5);
    left: 50%;
    bottom: 1.8rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 1.8rem;
    width: 2.7rem;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiCgkgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgoJIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMzg0LjlweCIgaGVpZ2h0PSIxODUuOHB4IiB2aWV3Qm94PSIwIDAgMzg0LjkgMTg1LjgiCgkgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+Cgk8cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iNDAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSIKCU0xMCwxMGwxNzUuNCwxNjIuNmM0LjYsNC4yLDExLjYsNC4yLDE2LjEsMEwzNzQuOSwxMSIvPgo8L3N2Zz4K');
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .7;
    -webkit-animation: bounce 4s 2s infinite;
    animation: bounce 4s 2s infinite;
    transition: 600ms;

    &:hover {
        opacity: 1;
    }
}

.contacts {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        opacity: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;

        * {
            color: #605e5c;
        }

        a {
            display: block;
            margin-bottom: 20px;
            font-size: 35px;
            font-weight: bold;

            &:hover {

                &,
                i {
                    color: #2f8880;
                }
            }

            i {
                margin-right: 10px;
            }
        }

        .button_close {
            font-size: 60px;
            cursor: pointer;
        }
    }
}

.page_wrapper {
    height: 100%;

    .page {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        text-align: center;
        padding: 0 $content_padding * 2;

        .page_content {
            max-width: $container_width;
            width: 100%;
            z-index: 1;

            h2 {
                font-size: 40px;
                flex-basis: 100%;
                margin-bottom: 30px;
            }

            h3 {
                font-weight: unset;
                font-size: 20px;
                font-family: Linotte-headings;
                margin-bottom: 30px;
            }



            @media screen and (max-width:$media_mobile_point) {
                padding-top: 100px;
                padding-bottom: 100px;

                .quiz_example_block,
                .tarif_block {
                    justify-content: space-around !important;

                    .tarif,
                    .quiz_example {
                        width: 48% !important;
                        margin-top: 2% !important;
                    }

                    .tarif:last-child {
                        width: 100% !important;
                    }
                }

                .advantage_element {
                    .image {
                        display: none !important;
                    }

                    .icon {
                        display: block !important;
                    }

                    .content {
                        width: 100% !important;
                    }
                }
            }

            @media screen and (max-width:650px) {

                .quiz_example_block,
                .tarif_block {

                    .tarif,
                    .quiz_example,
                    .tarif:last-child {
                        width: 350px !important;
                        margin-bottom: 10px !important;
                    }
                }

                h2 {
                    font-size: 35px;
                }

                h3 {
                    font-size: 25px;
                }
            }

        }

        .background_image {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .background_image {
            object-fit: cover;
        }
    }




    .page:nth-child(1) {
        z-index: 2;

        .page_content {
            flex-basis: 100%;
            text-align: center;
            height: max-content;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            h1 {
                font-size: 55px;
                font-weight: bold;
                letter-spacing: -.005em;
            }

            h2 {
                font-size: 28px;
            }

            h1,
            h2 {
                flex-basis: 100%;
                word-wrap: wrap;
                margin-bottom: 10px;
            }

            div {
                max-width: 700px;

                p {
                    margin-bottom: 40px;
                    font-weight: unset;
                    line-height: 1.5;
                    font-family: sans-serif;
                    font-size: 20px;
                }
            }

            img {
                right: -15%;
                top: 0;
                width: 50%;
            }

        }

    }

    .page:nth-child(2) {
        .what_quiz_block {
            display: flex;
            justify-content: space-between;

            .element {
                width: 32%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                img {
                    width: 80px;
                    height: 80px;
                }

                p {
                    font-size: 15px;
                }

                .header_text {
                    font-weight: bold;
                    margin: 10px 0;
                    width: 100%;
                }

                .text {
                    line-height: 1.5;
                }
            }

            @media screen and (max-width:$media_mobile_point) {
                flex-direction: column;
                align-items: center;

                .element {
                    width: 80%;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .page:nth-child(4) {
        .advantage_element {
            .image {
                order: 1;
                box-shadow: 0 0 10px #c0bf68;
            }
        }
    }

    .page:nth-child(5) {
        .advantage_element {
            .image {
                box-shadow: none;
            }
        }
    }

    .advantage_element {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .image {
            border-radius: 15px;
            box-shadow: 0 0 10px #6dc580;
        }

        .image,
        .content {
            width: 42%;
        }

        .icon {
            display: none;
            width: 100px;
            height: 100px;
        }

        .content {
            padding: 0 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .header_text {
                font-size: 30px;
                font-weight: bold;
            }

            .header_text,
            .text {
                margin-bottom: 25px;
            }

            .text {
                font-size: 18px;
            }

            .button {
                text-decoration: none;
                display: inline-block;
                width: max-content;
                padding: 10px 20px;
                font-size: 20px;
                border-radius: 10px;
                color: rgb(100, 100, 100);
                background-color: white;
                cursor: pointer;

                &:hover {
                    box-shadow: inset 0 0 5px rgb(149, 149, 149), inset 0 0 10px rgb(149, 149, 149);

                    span {
                        display: inline-block;
                        transform: scale(0.98);
                    }
                }
            }
        }

        @media screen and (max-width:1000px) {
            .content {
                width: 58%;
            }
        }
    }

    .page:nth-child(7) {
        background: linear-gradient(45deg, #af76f0, #76d8d0);
        height: 100%;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 150px;
            background: linear-gradient(45deg, rgb(251, 243, 228), wheat);
            clip-path: polygon(0 0, 0 100%, 100% 100%);

            @media screen and (max-width:$media_mobile_point) {
                height: 110px;
            }
        }

        // &::after {
        //     clip-path: polygon(100% 0, 100% 100%, 0 100%);
        // }
        .page_content {
            height: 100%;
            display: flex;
            position: relative;
            align-items: center;

            .content_block {
                width: 100%;
            }

            .contact_block {
                position: absolute;
                bottom: 20px;
                left: 5px;

                a {
                    display: block;
                    text-decoration: none;
                    color: #26262a;
                    font-weight: bold;
                    font-size: 20px;
                    text-align: start;
                    transition: color, 200ms;

                    i {
                        margin-right: 10px;
                    }

                    &:hover {
                        text-decoration: underline;
                        color: #6ecac3;
                    }
                }

                a:first-child {
                    margin-bottom: 10px;
                }
            }

            .tarif_block {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .tarif {
                    border-radius: 10px;
                    width: 32%;
                    background: rgb(255, 240, 213);
                    padding: 40px;
                    color: #26262a;
                    font-weight: bold;

                    .buy_text {
                        margin-bottom: 10px;
                    }

                    .cost {
                        font-size: 40px;
                        margin-bottom: 30px;
                    }

                    .button_buy {
                        display: inline-block;
                        padding: 0.75em 1em;
                        background: #4e555f;
                        font-size: 17px;
                        border-radius: 0.25em;
                        color: white;
                        text-decoration: none;
                        transition: background, 200ms;

                        &:hover {
                            background: #9ba6bb;
                        }
                    }

                    @media screen and (max-width:900px) {
                        .cost {
                            font-size: 35px;
                        }

                        .button_buy {
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        @media screen and (max-width:$media_mobile_point) {
            height: auto;
        }
    }

    .page:nth-child(6) {
        color: #9DD3C8;

        .quiz_example_block {
            flex-basis: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .quiz_example {
                width: 32.5%;
                position: relative;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.308);
                transition-property: box-shadow;
                transition-duration: 0.3s;
                border-radius: 10px;
                overflow: hidden;
                cursor: pointer;
                background-color: white;
                display: flex;
                flex-direction: column;

                &:hover {
                    box-shadow: 0 0 0 5px rgb(128, 170, 163);
                }

                img {
                    width: 100%;
                    object-fit: cover;
                    height: 80%;
                }

                p {
                    color: #605e5c;
                    font-size: 19px;
                    margin: auto 0;
                }
            }
        }

        button {
            margin-top: 30px;
            width: 13.5rem;
        }
    }
}

@keyframes pulse {
    30% {
        transform: scale(1.75);
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    40% {
        -webkit-transform: translate(-50%, -10px);
        transform: translate(-50%, -10px);
    }

    60% {
        -webkit-transform: translate(-50%, -5px);
        transform: translate(-50%, -5px);
    }
}

@media screen and (max-width:550px) {

    .page {
        padding: 0 10px !important;

        &:nth-child(1) {
            h1 {
                font-size: 45px !important;
            }

            h2 {
                font-size: 20px !important;
            }

            p {
                font-size: 16px !important;
            }
        }
    }
    .contacts a {
        font-size: 20px!important;
    }
    .navbar {
        padding-left: 10px;
        padding-right: 10px;
        transition: height 0.5s ease-out;
        height: 0;
        background: #605e5c;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-top: 0;
        .float_right {
            transition: opacity 1s;
            opacity: 0;
            flex-direction: column;
            flex-basis: 100%;
            * {
                color: white;
                margin-top: 10px;
                i {
                    display: none;
                }
            }
        }
        .burger_button {
            margin-top: 20px;
            display: block;
        }
    }

    .point_block {
        display: none;
    }
}